[package]
name = "gostrt"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[features]
stats = []

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
libc = "0.2"

[build-dependencies]
cc = "1.0"
